    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        text-align: center;
    }
    
    header,
    section,
    footer,
    aside,
    nav,
    article,
    figure,
    hgroup {
        display: block;
    }
    
    #agrupar {
        margin: 15px auto;
    }
    
    #cabecera {
        padding: 20px;
        background-color: #f89494;
        border: 3px solid #000000;
    }
    
    #menu {
        background: #f89494;
        padding: 5px 15px;
    }
    
    #menu li {
        display: inline-block;
        list-style: none;
        padding: 6px;
        border: 1px solid #000000;
    }
    
    #seccion {
        float: left;
        width: 60%;
        margin: 5%;
    }
    
    #columna {
        float: left;
        width: 20%;
        margin: 5%;
    }
    
    #pie {
        clear: both;
        text-align: center;
        width: 100%;
        padding: 20px;
        background: #CCCCCC;
        border: 1px dashed #000000;
    }
    
    img {
        width: 75%;
        padding: 5px;
    }
    
    article {
        background: rgb(26, 152, 184);
        border: 2px dashed #000000;
        padding: 20px;
        margin-bottom: 15px;
    }
    
    article footer {
        text-align: left;
    }
    
    figcaption {
        font-size: 15px;
        color: white;
    }
    
    blockquote {
        background: #f89494;
        margin-bottom: 15px;
    }